@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar {
	background-color: #fff !important;
	font-size: 20px;
	font-family: "Roboto";
	font-weight: 600;
}

.nav_tabs {
	margin-left: 20px;
	padding: 10px 30px;
	justify-content: space-between;
}

.nav_links {
	margin-left: 5px;
	padding: 0px 20px;
}

.btnn {
	border: 2px solid blue;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "Comic-Sans";
	cursor: pointer;
	margin: 10px;
	border-radius: 50px;
	color: rgb(0, 0, 0);
	width: fit-content;
}

/* Media Queires */
@media screen and (max-width: 768px) {
	.navbar {
		line-height: 50px;
	}
}
