.body {
	overflow: hidden;
	scroll-behavior: smooth;
}

.textarea {
	padding: 100px 50px;
}

/* Image styling */
@media screen and (min-width: 768px) {
	.imagearea {
		padding: 100px 50px;
	}
}

.main-text {
	font-size: 48px;
	font-family: "Times New Roman", Times, serif;
	line-height: normal;
}

.sub-text {
	font-size: 20px;
}

.button_space {
	margin-top: 20px;
}

.btn {
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "Comic-Sans";
	cursor: pointer;
	margin: 10px;
}

/* For 1st button only */
.button_field {
	border: 1px solid black;
	background-color: blue;
	color: white;
}

.button_field:hover {
	color: white;
	background-color: black;
}
