/* Fonts */
/* Sans */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@1400&display=swap");
/* Gowun */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

.body {
	overflow: hidden;
	scroll-behavior: smooth;
}

.textarea {
	padding: 50px 50px;
}

.main-text {
	font-size: 32px;
	font-weight: bolder;
	font-family: "PT Sans", sans-serif;
	line-height: normal;
}

.sub-text {
	font-size: 16px;
	font-family: "Gowun Dodum", sans-serif;
	font-weight: 600;
}

.button_space {
	margin-top: 20px;
}

.btn {
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "Comic-Sans";
	cursor: pointer;
	margin: 10px;
}

/* For 1st button only */
.button_field {
	border: 1px solid black;
	background-color: blue;
	color: white;
	border-radius: 50px;
	width: fit-content;
}

.button_field:hover {
	color: white;
	background-color: black;
}

/* For second button */
.second_button_field {
	border: 0px solid black;
	background-color: white;
	color: black;
	border-radius: 50px;
	width: fit-content;
}

.companies {
	margin-top: 25px;
}

/* Media Quieres */
@media screen and (min-width: 768px) {
	.imagearea {
		padding: 50px 50px;
	}

	.main-text {
		font-size: 42px;
	}

	.companies {
		margin-top: 50px;
		padding: 25px auto;
	}
}

@media screen and (min-width: 1024px) {
	.main-text {
		font-size: 54px;
	}

	.companies {
		margin-top: 50px;
		padding: 25px auto;
	}

	.sub-text {
		font-size: 20px;
	}
}
