.navbar {
	background-color: #fff !important;
	font-size: 20px;
}

.nav_tabs {
	margin-left: 20px;
	padding: 10px 30px;
	justify-content: space-between;
}

.nav_links {
	margin-left: 5px;
	padding: 0px 20px;
}

.btnn {
	border: 1px solid black;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "Comic-Sans";
	cursor: pointer;
	margin: 10px;
}
